@media (min-width: 0px) {
    * {
        font-size: 60px;
    }

    .barkDisplay {
        width: 130%;
    }

    svg {
        width: 5%;
    }

    #barkWrite {
        border: 10px solid #FFFF13;
        margin-left: 10%;
        width: 80%;
    }

    #barkCounter {
        display: block;
        margin-left: 10vw;
    }

    #username {
        width: 70%;
    }

    .barkDisplay:last-child {
        margin-bottom: 250px;
    }
}

@media (min-width: 992px) {
    * {
        font-size: 20px;
    }

    .barkDisplay {
        width: 35vw;
    }

    svg {
        height: 40px;
    }

    .barkWriteArea {
        left: 30%;
    }

    #barkWrite {
        border: 3px solid #FFFF13;
        margin-left: 10%;
        width: 20%;
    }

    .barkDisplay:last-child {
        margin-bottom: 100px;
    }
}