@font-face {
    font-family: "GT-America-Standard-Regular-Trial";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/GT-America-Standard-Regular-Trial.otf") format("truetype");
}

body, #msg, #sendMsg, #pseudo {
    background-color: #BFBF0C;
    font-family: "GT-America-Standard-Regular-Trial", sans-serif;
}


#counter {
    margin-left: 10vw;
    display: block;
}

#msg, #sendMsg {
    justify-content: center;
    margin: auto;
}

#sendMsg {
    height: 3vh;
    overflow: auto;
    margin-top: 2vh;
    border: 10px solid black;
}

#msg {
    color: yellow;
}

.bark>span {
    overflow-wrap: break-word;
}

.bark {
    background-color: #303030;
    justify-content: center;
    margin: auto;
    width: 35%;
    margin-bottom: 20px;
    padding: 20px;
    border: solid yellow 5px;
    border-radius: 10px;
}

.zonedemessage {
    position: fixed;
    bottom: 0px;
    background-color: #BFBF0C;
    width: 100%;
}


.bark>strong {
    display: block;
}

#pseudo {
    border: solid yellow 5px;
}

#send ,#logo , .hashtag{
    cursor: pointer;
}

.mention ,.hashtag{
    background-color: orange;
}

.tag {
    background-color: red;
}

.user {
    cursor: pointer;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 20px;
}

header img {
    height: 50px;
}

header div {
    display: flex;
    align-items: center;
}

header div p {
    margin-right: 16px;
}

