@font-face {
    font-family: "GT-America-Standard-Regular-Trial";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/GT-America-Standard-Regular-Trial.otf") format("truetype");
}

body, #timeline, #barkWrite, #username {
    background-color: #303030;
    font-family: "GT-America-Standard-Regular-Trial", sans-serif;
}

.text, .icons {
    color: #FFFF13;
}

#barkCounter {
    display: block;
    margin-left: 10vw;
}

#timeline, #barkWrite {
    justify-content: center;
    margin: auto;
}
input{
    background-color: #131516;
    border: 5px solid #FFFF13;

}
#barkWrite {
    background-color: #131516;
    height: 4vh;
    margin-top: 2vh;
    overflow: auto;
    resize: none;
}

.barkDisplay>span {
    overflow-wrap: break-word;
}

.barkDisplay {
    background-color: #131516;
    border: solid #FFFF13 5px;
    border-radius: 10px;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    width: 35%;
}

.barkWriteArea {
    background-color: #303030;
    bottom: 0px;
    position: fixed;
    width: 100%;
}

.barkDisplay>strong {
    display: block;
}

#username {
    background-color: #131516;
    border: solid #FFFF13 5px;
}

#barkSend, #logo, .hashtag {
    cursor: pointer;
}

input:focus, textarea:focus {
    outline: none;
}

.mention, .hashtag {
    background-color: #1389FF;
}

.tag {
    background-color: #8913FF;
}

.user {
    cursor: pointer;
}

header {
    background-color: #303030;
    width: 100%;
    height: 50px;
    position: fixed;
    top:0px;
    padding-bottom: 20px;
}


