body,#msg,#sendMsg,#pseudo {
    background-color: #BFBF0C;
}
#counter{
    margin-left: 10vw;
    display: block;
}

#msg,#sendMsg{
    border: solid yellow 5px;
    margin-left: 10vw;
}

#sendMsg{
    width: 38vw;
    height: 3vh;
    overflow: auto;
    margin-top: 2vh;
}

#msg {
    color: yellow;
    width: 40vw;
    height: 70vh;
    overflow: auto;
}


#pseudo{
    border: solid yellow 5px;
}

#send{
    cursor: pointer;
}

.tag{
    background-color: red;
}
.user{
    cursor: pointer;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 20px;
}

header img {
    height: 50px;
    width: 200px;
}

header div {
    display: flex;
    align-items: center;
}

header div p {
    margin-right: 16px;
}
